*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/*************************** Utilities ***************************/
.container
{
	max-width: 1152px;
	width: 90%;
	margin: auto;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	/* margin: 0 -1rem; */
}

[class^='col-']
{
	padding: 0 1rem;
}

.col-4
{
	width: calc(100% / 12 * 4);
}

.col-6
{
	width: calc(100% / 12 * 6);
}

.col-8
{
	width: calc(100% / 12 * 8);
}

.col-12
{
	width: 100%;
}

.d-none
{
	display: none;
}

.d-block
{
	display: block;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.ta-center{
    text-align: center;
}

/*************************** Moibile First ***************************/
.debug section{
    background-color: lightblue;
    border: 1px dashed grey;
}
.debug .container{
    background-color: lightcoral;
    border: 1px dashed grey;
}
.debug .row{
    background-color: lightcyan;
    border: 1px dashed grey;
}
.debug [class^='col-']{
    background-color: lightgreen;
    border: 1px dashed grey;
}
.debug .card{
    background-color: lightsalmon;
    border: 1px dashed grey;
}


/*************************** Moibile First ***************************/

/* header */
header
{
    background-color: var(--rw-heanvenly);
}
header nav
{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
    color: var(--rw-secondary);
}
header nav > .desktop_menu
{
    display: none;
}

/* main */
.card{
    margin: 1rem 0;
    /* padding: 1rem; */
}
.card_section_two>img{
    width: 100%;
    margin-bottom: -.3rem;
}

.col-12>img{
    width: 100%;
}
.cursive{
    font-style: italic;
}
/*************************** Tablet ***************************/
@media screen and (min-width: 768px)
{   /** .d-md-none
	{
		display: none;
	}
	.d-md-block
	{
		display: block;
	} **/
	.col-md-4
	{
		width: calc(100% / 12 * 4);
	}

	.col-md-6
	{
		width: calc(100% / 12 * 6);
	}

	.col-md-8
	{
		width: calc(100% / 12 * 8);
	}

    .card_section_two>img{
        width: 70%;
        margin-bottom: -.3rem;
    }

}

/*************************** Desktop ***************************/
@media screen and (min-width: 1200px)
{
    .container{
        width: 80%;
    }
    
	header nav > .mobile_menu
	{
		display: none;
	}

	header nav > .desktop_menu
	{
		display: block;
	}


    .col-12.col-md-8 > .card{
        display: flex;
    }
}


/* @media screen and (min-width: 1440px)
{
	.container
	{
		max-width: 1400px;
	}

	.d-lg-block
	{
		display: block;
	}
} */


/*************************** Colors ***************************/
:root{
    --rw-primary: #9792E4;
    --rw-secondary: #FFFFFF;
    --rw-heanvenly: #0084FD;
    --rw-light-heanvenly: #B5DDFF;
    --rw-special: #FDC15F;
    --rw-footer: #333333;
}