* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/*************************** Utilities ***************************/
.container {
    max-width: 1152px;
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -1rem; */
}

/* [class^='col-'] {
    padding: 0 1rem;
} */

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.ta-center {
    text-align: center;
}

.p-relative {
    position: relative;
}

.ptl_5 {
    padding-top: 2, 5rem;
    padding-left: 2, 5rem;
}

/*************************** #region Debug ***************************/
.debug section {
    background-color: lightblue;
    border: 1px dashed grey;
}

.debug .container {
    background-color: lightcoral;
    border: 1px dashed grey;
}

.debug .row {
    background-color: lightcyan;
    border: 1px dashed grey;
}

.debug [class^='col-'] {
    background-color: lightgreen;
    border: 1px dashed grey;
}

.debug .card {
    background-color: lightsalmon;
    border: 1px dashed grey;
}

/*************************** Moibile First ***************************/
/* header */
header {
    background-color: var(--rw-heanvenly);
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index:100;
    box-shadow: 0 5px 3px -3px var(--rw-heanvenly);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: var(--rw-secondary);
}

header nav>.desktop_menu {
    display: none;
}

/* main */
/* .card {
    margin: 1rem;
} */

#services>.container>.row>.col-12>.card {
    background-color: var(--rw-light-heanvenly);
    border-radius: 30px;
    margin: 1rem;
    transition: .5s;
}

#services>.container>.row>.col-12>.card:hover{
    background-color: #cbe7ff;
}

.card_section_one.main {
    padding-top: 2.5rem;
    padding-left: 2.5rem;
}

.card_section_one>h4 {
    color: var(--rw-heanvenly);
    font-size: 2rem;
}

.card_section_one>p {
    color: var(--rw-secondary-font);
    padding-bottom: 3rem;
}

.card_section_one>a {
    text-decoration: none;
    color: var(--rw-secondary);
    padding: .7rem 5rem;
    background-color: var(--rw-heanvenly);
    letter-spacing: 3px;
    border-radius: 20px;
    transition: .5s;
}

.card_section_one>a:hover{
    color: black;
}

.card_section_two>img {
    justify-items: flex-end;
    width: 100%;
    padding-top: 2rem
}

.card_section_one>i {
    color: var(--rw-heanvenly);
    scale: 2;
    padding: 3rem 0;
}

.card_section_two>p {
    padding: 2rem;
    color: var(--rw-secondary-font);
}

/* /#services */

#strategic_planning {
    background-color: var(--rw-primary);
    margin: 3rem 0;
    padding: 4rem 2rem;
}

#strategic_planning>.container>.row>.col-12>h3 {
    color: var(--rw-secondary);
    font-size: 3rem;
    padding: 2rem 0;
}

#strategic_planning>.container>.row>.col-12>p {
    color: var(--rw-secondary);
    padding-bottom: 2rem;
}

.col-12>img,
.white_card>img {
    width: 100%;
}

.white_card {
    background-color: var(--rw-secondary);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    padding-bottom: 3rem;
}

.white_card>h4 {
    padding-top: 1rem;
}

.white_card>p {
    font-style: italic;
    padding: 1rem 0;
    padding-bottom: 3rem;
}

.white_card>a {
    font-size: 1.5rem;
    background-color: var(--rw-primary);
    padding: 0.8rem 1.3rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

/* /#strategic_planning */

#testimonials {
    margin: 4rem 0;
}

#testimonials>.container{
    padding: 1rem;
}

#testimonials>.container>.row>.col-12>div {
    padding: 1rem 0;
}

#testimonials>.container>.row>.col-12>h2 {
    color: var(--rw-primary);
    font-size: 2.5rem;
}

#testimonials>.container>.row>.col-12>p{
    padding: 1.5rem 0;
    line-height: 1.8rem;
}

.purple_box {
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--rw-primary);
    color: var(--rw-secondary);
    padding: 1rem;
    border-radius: 50px;
    margin: 1rem 0;
    line-height: 2rem;
}

.purple_box>.NAT_img,
.purple_box>.CELIA_img,
.purple_box>.BOB_img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.purple_box>.NAT_img {
    background-image: url(../img/testimonial1.jpg);
}

.purple_box>.CELIA_img {
    background-image: url(../img/testimonial2.jpg);
}

.purple_box>.BOB_img {
    background-image: url(../img/testimonial3.jpg);
}
/* /#testimonials */

#benefits{
    margin: 3rem 0;
    background-color: var(--rw-primary);
    padding: 5rem 1rem;
}

#benefits>.container>h2{
    color: var(--rw-secondary);
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.benefits_card{
    background-color: var(--rw-secondary);
    color: var(--rw-primary);
    border-radius: 20px;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin: 1rem;
}

.card_number{
    font-size: 3rem;
    font-weight: 700;
}

.benefits_card>h4{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.benefits_card>p{
    line-height: 1.8rem;
    padding-bottom: 2rem;
    color: var(--rw-secondary-font);
}

.benefits_card>a{
    text-decoration: none;
    color: var(--rw-secondary);
    background-color: var(--rw-primary);
    padding: .5rem 3rem;
    border-radius: 40px;
    letter-spacing: 3px;
}
/* /#benefits */

#about_us{
   margin: 0 2rem;
   margin-bottom: 3rem; 
}

#about_us>.container>.row>.col-12{
    padding: 1.5rem;
}

#about_us>.container>.row>.col-12>h2{
    color: var(--rw-primary);
    font-size: 3rem;
}

#about_us>.container>.row>.col-12>p{
    line-height: 2rem;
}

#about_us>.container>.row>.col-12>.about-us_img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/about.jpg);
}

#about_us>.container>.row>.col-12>.fa-solid.fa-quote-left {
    position: absolute;
    left: 8.5rem;
    top: 2rem;
    scale: 1.5;
    color: var(--rw-primary);
}

#about_us>.container>.row>.col-12>h3{
    color: var(--rw-primary);
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

#about_us>.container>.row>.col-12>a{
    text-decoration: none;
    color: var(--rw-secondary);
    background-color: var(--rw-primary);
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: .8rem;
}
/* /#about_us */

#get_started{
    background-color: var(--rw-primary);
    padding: 3rem 4rem;
    color: var(--rw-secondary);
}

#get_started>.container>.row>.col-12>h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}

#get_started>.container>.row>.col-12>div{
    color: var(--rw-special);
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

#get_started>.container>.row>.col-12>p{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#get_started>.container>.row>.col-12>a{
    text-decoration: none;
    color: var(--rw-primary);
    letter-spacing: 5px;
    background-color: var(--rw-secondary);
    padding: 1rem 2rem;
    border-radius: 30px;
}

#privacy{
    padding-top: 2rem;
    display: block;
}

#privacy>a{
    color: var(--rw-secondary);
}
/* /#get_started */

footer{
    background-color: var(--rw-footer);
    color: var(--rw-secondary);
}

footer>.container{
    padding: 2rem 4rem;
}

footer>.container>p{
    padding-bottom: 5rem;
    padding-top: 2rem;
}

footer>.container>div>a{
    color: var(--rw-primary);
}

/*************************** Tablet ***************************/
@media screen and (min-width: 768px) {

    /** .d-md-none
	{
		display: none;
	}
	.d-md-block
	{
		display: block;
	} **/
    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    #services>.container>.row>.col-12>.card {
        height: 100%;
        margin: 0 1rem;
    }

    #services>.container>.row>.col-md-4,
    #services>.container>.row>.col-md-8 {
        margin: 1rem 0;
    }

    .purple_box {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .testimonial_text {
        width: 65%;
    }

    #get_started>.container,
    footer>.container {
        max-width: 900px;
        width: 80%;
        margin: auto;
    }



}

/*************************** Desktop ***************************/
@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }

    header nav>.mobile_menu {
        display: none;
    }

    header nav>.desktop_menu {
        display: flex;
        gap: 1.5rem;
    }

    header nav>.desktop_menu>a:not(.header_button) {
        text-decoration: none;
        color: var(--rw-secondary);
        font-weight: 100;
        margin: 0.5rem;
        transition: .3s;
    }
    
    header nav>.desktop_menu>a:not(.header_button):hover{
        color: var(--rw-special);
    }

    .header_button {
        text-decoration: none;
        color: black;
        background-color: var(--rw-secondary);
        border-radius: 30px;
        padding: 0.5rem 1rem;
        transition: .5s;
    }

    .header_button:hover {
        background-color: var(--rw-primary);
        color: var(--rw-special);
        padding: 0.5rem 3rem;
    }

    .col-12.col-md-8>.card {
        display: flex;
    }

    #strategic_planning>.container>div.row {
        flex-direction: row;
    }

    .card_section_two>img {
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .col-l-6 {
        width: calc(100% / 12 * 6);
    }

    .white_card {
        width: 60%;
        align-self: flex-end;
    }

    .white_card>img {
        width: 100%;
    }

    .col-l-4 {
        width: calc(100% / 12 * 4);
    }
}


/* @media screen and (min-width: 1440px)
{
	.container
	{
		max-width: 1400px;
	}

	.d-lg-block
	{
		display: block;
	}
} */


/*************************** Colors ***************************/
:root {
    --rw-primary: #9792E4;
    --rw-secondary: #FFFFFF;
    --rw-heanvenly: #0084FD;
    --rw-light-heanvenly: #B5DDFF;
    --rw-special: #FDC15F;
    --rw-footer: #333333;
    --rw-secondary-font: #5a6e7f;
}